* {
  touch-action: none;
  font-family: 'Microsoft YaHei'; }

html,
body {
  font-family: 'Microsoft YaHei'; }

@font-face {
  font-family: 'iconfont';
  /* project id 859849 */
  src: url("//at.alicdn.com/t/font_859849_2h03xd0i29q.eot");
  src: url("//at.alicdn.com/t/font_859849_2h03xd0i29q.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_859849_2h03xd0i29q.woff") format("woff"), url("//at.alicdn.com/t/font_859849_2h03xd0i29q.ttf") format("truetype"), url("//at.alicdn.com/t/font_859849_2h03xd0i29q.svg#iconfont") format("svg"); }
.iconfont {
  font-family: 'iconfont';
  display: inline-block;
  vertical-align: middle;
  font-size: .16rem;
  font-style: normal; }

.pad5 {
  padding: 0.05rem; }

.pl5 {
  padding-left: 0.05rem; }

.pt5 {
  padding-top: 0.05rem; }

.pr5 {
  padding-right: 0.05rem; }

.pb5 {
  padding-bottom: 0.05rem; }

.mar5 {
  margin: 0.05rem; }

.ml5 {
  margin-left: 0.05rem; }

.mt5 {
  margin-top: 0.05rem; }

.mr5 {
  margin-right: 0.05rem; }

.mb5 {
  margin-bottom: 0.05rem; }

.blk5 {
  height: 0.05rem;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  clear: both; }

.pad10 {
  padding: 0.1rem; }

.pl10 {
  padding-left: 0.1rem; }

.pt10 {
  padding-top: 0.1rem; }

.pr10 {
  padding-right: 0.1rem; }

.pb10 {
  padding-bottom: 0.1rem; }

.mar10 {
  margin: 0.1rem; }

.ml10 {
  margin-left: 0.1rem; }

.mt10 {
  margin-top: 0.1rem; }

.mr10 {
  margin-right: 0.1rem; }

.mb10 {
  margin-bottom: 0.1rem; }

.blk10 {
  height: 0.1rem;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  clear: both; }

.pad15 {
  padding: 0.15rem; }

.pl15 {
  padding-left: 0.15rem; }

.pt15 {
  padding-top: 0.15rem; }

.pr15 {
  padding-right: 0.15rem; }

.pb15 {
  padding-bottom: 0.15rem; }

.mar15 {
  margin: 0.15rem; }

.ml15 {
  margin-left: 0.15rem; }

.mt15 {
  margin-top: 0.15rem; }

.mr15 {
  margin-right: 0.15rem; }

.mb15 {
  margin-bottom: 0.15rem; }

.blk15 {
  height: 0.15rem;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  clear: both; }

.pad20 {
  padding: 0.2rem; }

.pl20 {
  padding-left: 0.2rem; }

.pt20 {
  padding-top: 0.2rem; }

.pr20 {
  padding-right: 0.2rem; }

.pb20 {
  padding-bottom: 0.2rem; }

.mar20 {
  margin: 0.2rem; }

.ml20 {
  margin-left: 0.2rem; }

.mt20 {
  margin-top: 0.2rem; }

.mr20 {
  margin-right: 0.2rem; }

.mb20 {
  margin-bottom: 0.2rem; }

.blk20 {
  height: 0.2rem;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  clear: both; }

.pad25 {
  padding: 0.25rem; }

.pl25 {
  padding-left: 0.25rem; }

.pt25 {
  padding-top: 0.25rem; }

.pr25 {
  padding-right: 0.25rem; }

.pb25 {
  padding-bottom: 0.25rem; }

.mar25 {
  margin: 0.25rem; }

.ml25 {
  margin-left: 0.25rem; }

.mt25 {
  margin-top: 0.25rem; }

.mr25 {
  margin-right: 0.25rem; }

.mb25 {
  margin-bottom: 0.25rem; }

.blk25 {
  height: 0.25rem;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  clear: both; }

.pad30 {
  padding: 0.3rem; }

.pl30 {
  padding-left: 0.3rem; }

.pt30 {
  padding-top: 0.3rem; }

.pr30 {
  padding-right: 0.3rem; }

.pb30 {
  padding-bottom: 0.3rem; }

.mar30 {
  margin: 0.3rem; }

.ml30 {
  margin-left: 0.3rem; }

.mt30 {
  margin-top: 0.3rem; }

.mr30 {
  margin-right: 0.3rem; }

.mb30 {
  margin-bottom: 0.3rem; }

.blk30 {
  height: 0.3rem;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  clear: both; }

.pad35 {
  padding: 0.35rem; }

.pl35 {
  padding-left: 0.35rem; }

.pt35 {
  padding-top: 0.35rem; }

.pr35 {
  padding-right: 0.35rem; }

.pb35 {
  padding-bottom: 0.35rem; }

.mar35 {
  margin: 0.35rem; }

.ml35 {
  margin-left: 0.35rem; }

.mt35 {
  margin-top: 0.35rem; }

.mr35 {
  margin-right: 0.35rem; }

.mb35 {
  margin-bottom: 0.35rem; }

.blk35 {
  height: 0.35rem;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  clear: both; }

.pad40 {
  padding: 0.4rem; }

.pl40 {
  padding-left: 0.4rem; }

.pt40 {
  padding-top: 0.4rem; }

.pr40 {
  padding-right: 0.4rem; }

.pb40 {
  padding-bottom: 0.4rem; }

.mar40 {
  margin: 0.4rem; }

.ml40 {
  margin-left: 0.4rem; }

.mt40 {
  margin-top: 0.4rem; }

.mr40 {
  margin-right: 0.4rem; }

.mb40 {
  margin-bottom: 0.4rem; }

.blk40 {
  height: 0.4rem;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  clear: both; }

.pad45 {
  padding: 0.45rem; }

.pl45 {
  padding-left: 0.45rem; }

.pt45 {
  padding-top: 0.45rem; }

.pr45 {
  padding-right: 0.45rem; }

.pb45 {
  padding-bottom: 0.45rem; }

.mar45 {
  margin: 0.45rem; }

.ml45 {
  margin-left: 0.45rem; }

.mt45 {
  margin-top: 0.45rem; }

.mr45 {
  margin-right: 0.45rem; }

.mb45 {
  margin-bottom: 0.45rem; }

.blk45 {
  height: 0.45rem;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  clear: both; }

.pad50 {
  padding: 0.5rem; }

.pl50 {
  padding-left: 0.5rem; }

.pt50 {
  padding-top: 0.5rem; }

.pr50 {
  padding-right: 0.5rem; }

.pb50 {
  padding-bottom: 0.5rem; }

.mar50 {
  margin: 0.5rem; }

.ml50 {
  margin-left: 0.5rem; }

.mt50 {
  margin-top: 0.5rem; }

.mr50 {
  margin-right: 0.5rem; }

.mb50 {
  margin-bottom: 0.5rem; }

.blk50 {
  height: 0.5rem;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  clear: both; }

.mui-btn.mui-btn-blue {
  background: #5254f6;
  border-color: #5254f6; }
.mui-btn.mui-btn-sm {
  padding: 4px 8px;
  font-size: .12rem; }

.userHeader {
  text-align: center;
  padding: 40px 0 15px 0; }
  .userHeader > em {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #9498e5; }
    .userHeader > em img {
      width: 100%;
      height: 100%; }
  .userHeader > span {
    font-size: .14rem;
    color: #fff;
    display: block;
    line-height: .3rem; }

.mui-off-canvas-left {
  background: #0d0f47; }
  .mui-off-canvas-left .mui-scroll-wrapper .mui-btn-blue {
    background: #292c74;
    color: #7375c3;
    border-color: #292c74; }
  .mui-off-canvas-left .mui-table-view {
    background-color: transparent;
    margin-top: 40px; }
    .mui-off-canvas-left .mui-table-view:before, .mui-off-canvas-left .mui-table-view:after {
      background-color: transparent; }
    .mui-off-canvas-left .mui-table-view li:after {
      background-color: #9498e5;
      left: 0; }
    .mui-off-canvas-left .mui-table-view li a {
      color: #9498e5; }
      .mui-off-canvas-left .mui-table-view li a:after {
        color: #9498e5; }
      .mui-off-canvas-left .mui-table-view li a.mui-active {
        background: #191b63; }

.mui-bar.mui-bar-nav {
  background: #bd69f2;
  /* Old browsers */
  background: -moz-linear-gradient(left, #bd69f2 0%, #492fe2 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #bd69f2 0%, #492fe2 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #bd69f2 0%, #492fe2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd69f2', endColorstr='#492fe2', GradientType=1);
  /* IE6-9 */ }
  .mui-bar.mui-bar-nav .mui-pull-left {
    color: #fff; }
  .mui-bar.mui-bar-nav h1.mui-title {
    color: #fff; }
.mui-bar.mui-bar-tab {
  background: #fff;
  border-top: 1px solid #e9e9e9; }
  .mui-bar.mui-bar-tab .mui-tab-item.customHome > i {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #492fe2;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    color: #fff; }
  .mui-bar.mui-bar-tab .mui-tab-item > i, .mui-bar.mui-bar-tab .mui-tab-item > span {
    display: block; }

#popover {
  width: 140px;
  height: 200px; }

/*# sourceMappingURL=vue2mui.css.map */
