<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Template</title>
		<link href="../assets/css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../assets/css/mui.picker.css" />
		<link href="../assets/css/mui.poppicker.css" rel="stylesheet" />
	</head>

	<body>

		<form class="mui-input-group">
		    <div class="mui-input-row">
			<label>请选择</label>
			<input type="text" name="" value="" class="mui-input-clear" id="showUserPicker" />
		</div>
		
		</form>

		<script src="../assets/js/mui.min.js"></script>
		<script src="../assets/js/mui.picker.js"></script>
		<script src="../assets/js/mui.poppicker.js"></script>
		<script type="text/javascript">
			mui.init()

			var userPicker = new mui.PopPicker();
			userPicker.setData([{
				value: 'ywj',
				text: '董事长 叶文洁'
			}, {
				value: 'aaa',
				text: '总经理 艾AA'
			}, {
				value: 'lj',
				text: '罗辑'
			}, {
				value: 'ymt',
				text: '云天明'
			}, {
				value: 'shq',
				text: '史强'
			}, {
				value: 'zhbh',
				text: '章北海'
			}, {
				value: 'zhy',
				text: '庄颜'
			}, {
				value: 'gyf',
				text: '关一帆'
			}, {
				value: 'zhz',
				text: '智子'
			}, {
				value: 'gezh',
				text: '歌者'
			}]);
			var btn = document.getElementById("showUserPicker")
			btn.addEventListener("tap", function(e) {
				userPicker.show(function(items) {
					console.log(JSON.stringify(items[0]))
					//返回 false 可以阻止选择框的关闭
					//return false;
				});
			}, false)
		</script>
	</body>

</html>